<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="React template">
  <meta name="keywords" content="React template">
  <meta property="og:description" content="React template">
  <meta name="twitter:creator" content="Ilham Gunawan">
  <meta name="twitter:title" content="React template">
  <meta name="twitter:description" content="React template">
  <title>React Template</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>